.main {
    background-color: white;
    height: 100%;
    width: auto;
    margin: 0;
}
/*
.inputDiv {
    background-color: lightcyan;
}

.resultDiv {
    background-color: lightcoral;
}
*/
#formel {
    height: 26px;
    width: 200px;
}